@using System.Web.Optimization
@using InterBook2._0.Views.Shared.App_LocalResources;
@model InterBook2._0.Models.ModelBase

@{
    var particulier = false;
    if(InterBook2._0.BLL.SessionManager.Current.Util != null)
    {particulier = (bool)InterBook2._0.BLL.SessionManager.Current.Util.particulier;}
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" style="height: 100%;margin: 0;padding: 0;" lang="fr">
<!--<![endif]-->
<!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@Model.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Media/img/commun/favicon.ico" />
    <!--Global Css-->
    @Styles.Render("~/Media/css/base")

    <!--Page Css-->
    @RenderSection("styles", required: false)
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

    <!--Global JS-->
    @Styles.Render("~/Media/js/base")
    <script src="~/Media/js/jquery2-1.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="http://jqueryui.com/resources/demos/datepicker/datepicker-fr.js"></script>
    <script src="~/Media/js/easing.js"></script>
    <script src="~/Media/js/modernizr.js"></script>

    <!--Modernizr-->
    @Scripts.Render("~/Media/js/modernizr")
</head>
<body>


    <div id="wrap">

        <header class="page-row">


            <!-- HEADER DEBUT PANEL -->

            <div class="header">

                <div id="desktop" class="container">

                    <!--  LEFT PANEL LOGO SOCIAL BOUTON -->

                    <div id="leftPanel">

                        <div id="logo">
                            <a href="/" id="logoHeader"><img src="~/Media/img/commun/fr-FR/logoHeader.png" /></a>
                        </div>

                        <div id="rsHeader">
                            <div>
                                <a href="#" id="gHeader"><img src="~/Media/img/commun/fr-FR/googleHeader.png" /></a>
                                <a href="#" id="fbHeader"><img src="~/Media/img/commun/fr-FR/fbHeader.png" /></a>
                            </div>
                        </div>
                    </div>

                    <!-- RIGHT PANEL CONNEXION -->

                    <div id="rightPanel">

                        <div class="drapeauHeader">
                            <p><img id="drapeauHeader" src="~/Media/img/commun/drp-@(InterBook2._0.BLL.SessionManager.Current.CurrentUICulture.Name).gif" /></p>
                            <ul class="dropdown-menu">
                                @foreach (InterBook2._0.DTO.Ref_Culture rf in InterBook2._0.BLL.ApplicationObject.CulturesInfos)
                                {
                                    if (rf.description != InterBook2._0.BLL.SessionManager.Current.CurrentUICulture.Name)
                                    {
                                        <li><img src="~/Media/img/commun/drp-@(rf.description).gif" data-culture="@(rf.description)" /></li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="howWork"><a href='/How'>@Index.Comment</a></div>

                        @if (Model.SessionObject.Util != null && Model.SessionObject.Util.Util_Postal != null)
                        {
                            <div class="nameHeader">
                                <span id="nameHeader">
                                    @if (Model.SessionObject.Util.Util_Info != null && Model.SessionObject.Util.Util_Info.photo != null)
                                    {
                                        <img src="~/media/file/upload/photo/@(Model.SessionObject.Util.Util_Info.photo).jpg" width="27" height="27" />
                                    }
                                    @Model.SessionObject.Util.Util_Postal.prenom
                                </span>
                                <span class="header__icon" id="header__icon"></span>
                                <ul class="dropdown-menu">
                                    @*<li><a href='/dashboard/disponibility'>@Index.Disponibilite</a></li>
                                        <li><a href='/dashboard/messages'>@Index.Messages</a></li>
                                        <li><a href='/delog'>@Index.SeDeconnecter</a></li>*@
                                    @if (particulier)
                                    {
                                        <li>@Html.ActionLink(Index.Disponibilite, "Disponibility", "DashBoard")</li>
                                        <li>@Html.ActionLink("Job", "Job", "DashBoard")</li>
                                    }
                                    <li>@Html.ActionLink(Index.Messages, "Messages", "DashBoard")</li>
                                    @if (particulier)
                                    {
                                        <li>@Html.ActionLink("Favoris", "Favoris", "DashBoard")</li>
                                    }
                                    <li>@Html.ActionLink("Paramètres", "ModifProfil", "DashBoard")</li>
                                    <li>@Html.ActionLink("Premium", "Premium", "DashBoard")</li>
                                    <li><a href='/delog'>@Index.SeDeconnecter</a></li>
                                </ul>
                            </div>
                        }
                        else if (Model.SessionObject.Util != null && Model.SessionObject.Util.Util_Email != null)
                        {
                            <span>@Model.SessionObject.Util.Util_Email.email</span>
                        }
                        else
                        {

                            <div>
                                <a href="#" id="tabletteHeader"><img src="~/Media/img/commun/fr-FR/tabletteHeader.png" /></a>
                            </div>
                            <div>
                                <a href="#" id="seConnecter">@Index.SeConnecter</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
            @if (Model.SessionObject.Util == null)
            {
                <div id="connexionPart">
                    @Html.Partial("_Login")
                </div>
            }
        </header>

        <!-- FIN HEADER PANEL -->


        <div id="page" class="page-row page-row-expanded container">
            <div style="height:60px"></div>
            @if (!String.IsNullOrEmpty(InterBook2._0.BLL.SessionManager.Current.Notification))
            {
                <div id="info">
                    @InterBook2._0.BLL.SessionManager.Current.Notification
                </div>
                InterBook2._0.BLL.SessionManager.Current.Notification = "";
            }
            @RenderBody()
            <div style="height:60px"></div>
        </div>


        <div class="site-cache" id="site-cache">
        </div>



        <footer class="page-row">

            <div class="container">

                <div class="footer">

                    <div id="interbookFooter">
                        InterBook <span style="color: red;">&reg;</span> 2015
                    </div>

                    <div id="mentionsFooter">
                        <a href="#" class="mentionsFooter">@Index.Mentions</a>
                        <a href="#" class="mentionsFooter">@Index.CGU</a>
                        <a href="#" class="mentionsFooter">@Index.FAQ</a>
                        <a href="#" class="mentionsFooter">@Index.APropos</a>
                        <a href="#" class="mentionsFooter">@Index.Contact</a>
                    </div>

                    <div id="logoFooter">
                        <img src="~/Media/img/commun/fr-FR/logoFooter.png" />
                    </div>

                </div>
            </div>

        </footer>

    </div>

    <script src="~/Media/js/easing.js"></script>
    <script>

        jQuery(function ($) {

            $('#seConnecter').click(function (e) {
                e.preventDefault();
                $('body').addClass('with--connectbar');

                if ($("a.close").length == 0) {
                    $('#connexionPart')
                    .delay(250)
                    .append('<a href="#" class="close"><span id="fermePop">X<span></a>')
                    .show()
                    .animate
                    (
                        { top: "60px" },
                        { duration: 600, easing: "easeInOutExpo" }
                    );
                }


                return false;
            });

            //Close Popups and Fade Layer
            $('body').on('click', 'a.close, .site-cache', function () { //Au clic sur le body...
                $('body').removeClass('with--connectbar');
                $('#connexionPart').animate
                (
                    { top: "-300px" },
                    {
                        duration: 600,
                        easing: "easeInOutBack",
                        complete: function () {
                            $('#connexionPart').hide();
                            $('a.close').remove();
                        }
                    });
                return false;
            });
            var t;

            
            $('.drapeauHeader').hover(function () {
                t = setTimeout(function () {
                    $('.drapeauHeader .dropdown-menu').show();
                }, 200);
            }, function () {
                clearTimeout(t);
                $('.drapeauHeader .dropdown-menu').hide();
            });

            if ($(window).width() > 990) {
                $('.nameHeader').hover(function () {
                    t = setTimeout(function () {
                        $('.nameHeader .dropdown-menu').show();
                    }, 200);
                }, function () {
                    clearTimeout(t);
                    $('.nameHeader .dropdown-menu').hide();
                });
            }

            $('#header__icon').click(function (e) {
                e.preventDefault();
                $('body').toggleClass('with--sidebar');
            });

            /* Je veux pouvoir masquer le menu si on clique sur le cache */
            $('#site-cache').click(function (e) {
                $('body').removeClass('with--sidebar');
            })

            $('.dropdown-menu img').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangeCulture",
                    async: false,
                    data: { c: $(this).attr("data-culture") },
                    dataType: "json",
                    success: function (result) {
                        if (result.Reponse == "200")
                            location.reload();
                    }
                });
            });
        });

    </script>
</body>
</html>
