@using System.Web.Optimization
@using InterBook2._0.Views.Shared.App_LocalResources;
@model InterBook2._0.Models.ModelBase

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" style="height: 100%;margin: 0;padding: 0;">
<!--<![endif]-->
<!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <!--Global Css-->
    @Styles.Render("~/Media/css/base")

    <!--Page Css-->
    @RenderSection("styles", required: false)

    <!--Global JS-->
    @Styles.Render("~/Media/js/base")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--Modernizr-->
    @Scripts.Render("~/Media/js/modernizr")
</head>
<body>
    <header>
        <div class="header">
            <div id="desktop" class="container">
                <div id="menu-left" class="left">
                    <a href="/"><img src="~/Media/img/commun/interbook.png" class="logoInterBook" /></a>
                </div>
                <div id="menu-right" class="right">
                    @Html.Partial("_Login")
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer></footer>

    </body>
</html>
